<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Spring Security Example</title>
</head>
<body>
<h2>spring security example</h2>
<hr>
<h3>
    welcome !
    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="principal.username"></span>
    </div>
</h3>
<!--authorize: uy quyen-->
<!--authentication: xac thuc-->
<!--Anonymous: vo danh-->
<div sec:authorize="isAnonymous()">
    login as <a th:href="@{/user}">User</a> or <a th:href="@{/admin}">Admin</a>
</div>
<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasRole('USER')">
        <a th:href="@{/user}">My profile</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin}">My profile</a>
    </div>
    <div>
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>
</body>
</html>